html{
  height: 100%;
  font-family: 'Poppins';
}
body {
  height: 100%;
  font-family: 'Poppins';
}
/* SIDEBAR */
.fixed-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  /* overflow-y: auto; */
  z-index: 1000;
}
@media (min-width: 992px) {
  .offcanvas-lg {
      --bs-offcanvas-height: auto;
      --bs-offcanvas-border-width: 0;
      background-color: #00334b !important;
  }
}
.account-icon2 {
  cursor: pointer;
  transition: none !important;
}
.mynav{
  color: #222;
}
.mynav li a {
  color:  #F8F9FA;
  text-decoration: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
}
/* .mynav li a.active{
  background: rgba(255,255,255,0.2);
} */
li.nav-item{
  transition: 0;
}
li.nav-item:hover{
  background: #005279;
}
.mynav li a i{
  width: 25px;
  text-align: center;
}
a.nav-link{
  font-family: 'Poppins';
  font-size: 0.9rem;
  color: #ffffff;
}
a.nav-link:hover{
  color:  #F8F9FA;
}
.link-text{
  font-family: 'Poppins';
  font-size: 0.8rem;
}
.link-text2{
  font-family: 'Poppins';
  font-size: 0.9rem;
  text-decoration: none;
  color: #222;
}
.link-text2:hover{
  color: #515151;
}
.logout-text{
  font-size: 0.8rem;
}

/* NAVBAR */
.nav-logo{
  width: 2.5rem;
}
.offcanvas-logo{
  width: 4rem;
}
.offcanvas-title{
  font-family: 'Poppins600';
}
.account-icon{
  cursor: pointer;
}
.account-icon2{
  cursor: pointer;
  transition: all 0.25s;
}
/* .account-icon2:hover{
  transform: scale(1.1);
} */
.btn-dropdown {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
}
.btn-dropdown:hover,
.btn-dropdown:focus {
  background-color: transparent;
  box-shadow: none;
  color: inherit;
}
.dropdown-item{
  transition: 0;
}
.dropdown-item:hover{
  background-color: rgb(233, 233, 233);
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  /* background-image: var(--bs-navbar-toggler-icon-bg); */
/*     background-image: url(/icons/hamburger-menu-light.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
}
.btn-close-white {
  /* filter: none; */
}
.dropdown-menu{
  --bs-dropdown-link-active-bg: #0d6efd;
  background-color: #ffffff;
  
  font-size: 0.8rem;
}
.navbar-nav{
  --bs-nav-link-hover-color: rgb(255 255 255);
}
.link-icons{
  width: 1.2rem;
}
.offcanvas-body {
  flex-grow: 1;
  padding: 0;
  overflow-y: auto;
}


/* TEXT */
@media (max-width: 768px) {
  .text-resize {
      font-size: 1rem;
  }
  .account-button {
      font-size: 1rem;
  }
  
}
@media (max-width: 576px) {
  .text-resize {
      font-size: 0.9rem;
  }
  .account-button {
      font-size: 0.9rem;
  }
}

.sidebar-navigation{
  color: rgb(191, 191, 191);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
}
.navbar-large{
  background-color: #00334b;
}

/* LOGIN-USER FORM */
.form-control{
  font-size: 0.8rem;
}

/* DASHBOARD */

.card-subtitle{
  font-size: small;
  font-weight: 500;
  color: rgb(92, 92, 92);
}

@media (max-width: 992px) {
  .flex-fill {
      padding-left: 0;
  }
}

@media (min-width: 992px) {
  .flex-fill {
      padding-left: 250px;
  }
}

/* EVENTS */
.c-item{
  height: 300px;
}
.carousel-pictures{
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(0.8);
  filter: blur(0.5px);
}
.upcoming-events-pictures{
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 17px;
  padding: 0.8rem 0.8rem;
}
.card-event{
  /* background-color: #f8f8f8; */
}
.page-link {
  font-size: 12px; /* Adjust the font size as needed */
}
.page-item {
  margin-right: 0px; /* Adjust the spacing between pagination items */
}

/* ANNOUNCEMENT */
.monthAnn, .timeAnn, .titleAnn, .descAnn {
  font-size: small;
}
.announcementDate{
  text-align: center;
  width: 130px;
}

/* RECRUITMENT */
.image-gallery {
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.recruitmentPic{
  width: 100%;
  object-fit: cover;
  transition: 0.25s;
  aspect-ratio: 16/9;
}
.recruitmentPic:hover{
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .image-gallery {
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      display: flex;
  }
  .recruitmentPic {
      width: 75%;
      padding: 10px;
      aspect-ratio: 4/3;
  }
  .recruitmentPic:hover{
      transform: scale(1.05);
  }
  .recruitmentForm{
      margin-bottom: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
  }
}

.form-label{
  font-size: smaller;
}
.recruitmentForm{
  padding: 3.5rem 2.5rem;
}

/* SERMON */
.sermonIcon{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 5%;
}
.sermonTitle{
  font-weight: 600;
  margin: 0;
}
.sermonDescription{
  font-size: small;
  margin: 0;
}
.sermonButton{
  transition: 0.25s;
}
.sermonButton:hover{
  opacity: 0.7;
}


@media (max-width: 768px) {
  .sermonIcon{
      width: 60px;
      height: 60px;
  }
}

/* MY ACCOUNT */
.avatar{
  object-fit: cover;
  border: solid 3px #d1d1d1;
}

/* VISITORS LOG */
.visitors-table {
  border-collapse: collapse;
  width: 100%;
}
.visitors-table th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem 0;
}
.visitors-table td {
  border-color: #dddddd;
  border-width: 1.5px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  text-align: center;
  padding: 1.5rem 0;
}

@media (max-width: 576px) {
  th, td {
      font-size: 10px;
  }
}
